<%- include ('partials/header.ejs') %>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <div class="container">
            <hr> 
            <div class="card" style="background-color: rgb(70, 109, 240)"> <!---->
                <div class="card-body" style="color:rgb(255, 255, 255)">
                    <h2> <%= story.title %> </h2>
                    <p> <%= story.description %> </p> 
                </div>
            </div>
        </div>
    </body>
<%- include ('partials/footer.ejs') %>    